@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 253, 245;
}

.heading-1 {
  color: rgb(203, 68, 25);
  font-size: 200px;
  font-family: var(--font-junge);
  text-align: center;
}

.subheading-1 {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-family: var(--font-junge);
  text-align: center;
}

.navbar {
  margin-top: 42px;
}

.navbar-link {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-family: var(--font-junge);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 40.5px;
  padding-bottom: 40.5px;
}

.logo {
  width: 90px;
  height: 90px;
  margin-top: 15px;
  margin-bottom: 15px;
  border:1px solid rgb(203, 68, 25);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
