@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 253, 245;
}

.heading-1 {
  color: rgb(203, 68, 25);
  font-family: var(--font-junge);
  text-align: center;
}

.heading-2 {
  color: rgb(0, 0, 0);
  font-family: var(--font-junge);
}

.subheading-1 {
  color: rgb(0, 0, 0);
  font-family: var(--font-junge);
  text-align: center;
}

.project-text {
  color: rgb(0, 0, 0);
  font-family: var(--font-qcs);
}

.chh-header-background {
  background-color: #0073E1;
  min-width: 100vw;
}

.mrh-header-background {
  background-color: #0091F4;
  min-width: 100vw;
}

.project-header {
  object-fit: cover;
  height: 100%;
}

.email-address {
  color: rgb(203, 68, 25) !important;
  font-family: var(--font-junge);
}

.project-link {
  color: rgb(203, 68, 25);
  font-family: var(--font-junge);
}

.navbar {
  background-color: rgb(255, 253, 245);
}

.navbar-link {
  color: rgb(0, 0, 0);
  font-family: var(--font-junge);
}

.navbar-link-inner {
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.navbar-link-inner:hover {
  color: rgb(203, 68, 25);
  transition: 0.3s ease-in-out;
}

.navbar-link-dot {
  opacity: 0;
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
  font-family: var(--font-junge);
  transform: scale(1.5, 1.5) translateY(30%);
  pointer-events: none; 
  position: absolute;
}

a:hover + .navbar-link-dot {
  opacity: 1;
  color: rgb(203, 68, 25);
  transition: 0.3s ease-in-out;
}

.navbar-link-active {
  color: rgb(203, 68, 25);
  text-decoration: underline;
  text-underline-offset: 20%;
  text-decoration-thickness: 7%;
}

.slider {
  height: 100vh;
  overflow: hidden;
  transition: 0.5s;
  background-color: rgb(255, 253, 245);
  animation: 0.5s slide-up;
  z-index: -1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

@keyframes slide-up {
  0% {
    height: 100vh;
  }

  100% {
    margin-top: -5rem;
    visibility: hidden;
    opacity: 0;
    height: 0vh;
  }
}

.arrow {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 0.5vh;
  width: 5vw;
  display: inline-block;
}

.project-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tags-text {
  color: #5C6B73;
  font-family: var(--font-qcs);
}

.all-projects {
  color: #FFFFFF;
  font-family: var(--font-junge);
}

.project-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
